
.navbar-static-top {
    background-color: #212121;
    margin-bottom: 5px;
}

.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}



/*===ab-select-box===*/
.tab-para{
    padding: 43px 42px 24px;
}
.single-tab-select-box h2{
    color: #565a5c;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-bottom: 17px;
}
/*.travel-select-icon{*/
/*    position:relative;*/
/*}*/
/*.travel-select-icon:after{*/
/*    position: absolute;*/
/*    content: "\f107";*/
/*    right: 0px;*/
/*    top: 0;*/
/*    font-size: 18px;*/
/*    color: #aaa;*/
/*    background: #f9f9f9;*/
/*    font-family: "fontAwesome";*/
/*    pointer-events: none;*/
/*    border:1px solid #d7d7d7;*/
/*    border-bottom: transparent;*/
/*    padding: 10px;*/
/*}*/

.travel-check-icon{
    position: relative;
}
.travel-check-icon:after{
    position: absolute;
    content: "\f073";
    right: 0px;
    top: 0;
    font-size: 18px;
    color: #aaa;
    background: #f9f9f9;
    font-family: "fontAwesome";
    pointer-events: none;
    border:1px solid #d7d7d7;
    border-bottom: transparent;
    padding: 10px 8px;
}/*travel-select-icon*/

.travel-select-icon  select,.travel-check-icon  input {
    color:#aaa;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    height: 48px;
}/*select*/

.travel-select-icon .form-control,.travel-check-icon .form-control{
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0!important;
    box-shadow:none;
    border:1px solid #d7d7d7;
    border-radius: 0px;
    margin-bottom: 20px;
}/*.travel-select-icon .form-control*/

/*.trip-circle*/
.trip-circle {
    display: flex;
    margin-bottom: 17px;
}
.single-trip-circle{
    display: flex;
}
.single-trip-circle:nth-child(2){
    display: flex;
    margin-left: 42px;
}




/*.trip-circle*/


/* filter */
.travel-budget {
    margin-top: 38px;
}
.travel-budget h3{
    color: #565a5c;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.price_filter{
    margin-top: 9px;
}
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background:  #d7d7d7;
    border: medium none;
    border-radius: 0;
    height: 6px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #00d8ff none repeat scroll 0 0;
    border: 0px solid #00d8ff;
    border-radius:50%;
    height: 12px;
    width: 12px;
    outline: 0;
    cursor: pointer;
    z-index: 1;
}
.price_filter .ui-slider-range {background: #00d8ff none repeat scroll 0 0;}
.price_slider_amount > input[type="text"] {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    letter-spacing: 5.5px;
    height: 40px;
    text-align: center;
    width: 280px;
    border: none !important;;
    font-family: 'Poppins', sans-serif;
}
.price_slider_amount label {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
}
.price_slider_amount > input[type="text"]:focus {outline: 0}
.price_slider_amount > input[type="submit"] {outline: 0;}
.price_slider_amount {letter-spacing: 2px;}
.price_slider_amount > input[type="submit"] {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
}

/* .travel-btn */
.about-view.travel-btn{
    width: 180px;
    margin-right: 15px;
}






.single-travel-boxes {
    background: #fff;
}
.tab-para p {
    font-size: 24px;
}
/* .desc-tabs */
.desc-tabs {
    border: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}
.desc-tabs .nav-tabs {
    display: inline-block;
    border-right: 1px solid #fff;
}

.desc-tabs .nav-tabs>li.active>a{
    color: #fff;
    background: #343330;
    cursor: default;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    -webkit-transition: .5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition: .5s;
}
.desc-tabs .nav-tabs>li.active>a:focus,
.desc-tabs .nav-tabs>li.active>a:hover {
    color: #565a5c;
    text-decoration: none;
}
.desc-tabs .nav-tabs>li>a{
    color: #fff;
    background: #00d8ff;
    cursor: default;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 17px 40px 17px 46px;
    border: 0;
    -webkit-transition: .5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition: .5s;
}
.single-travel-boxes .nav>li>a:focus,
.single-travel-boxes .nav>li>a:hover {
    color: #565a5c;
    background: #fff;
    border: 0;
    text-decoration: none;
}
.desc-tabs .nav-tabs>li>a>i{
    padding-right: 6px;
}
/* .desc-tabs */



/*===ab-select-box===*/
.tab-para{
    padding: 43px 42px 24px;
}
/*.single-tab-select-box h2{*/
/*    color: #565a5c;*/
/*    font-size: 20px;*/
/*    font-weight: 500;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    text-transform: capitalize;*/
/*    margin-bottom: 17px;*/
/*}*/
.travel-select-icon{
    position:relative;
}
.travel-select-icon:after{
    position: absolute;
    content: "\f107";
    right: 0px;
    top: 0;
    font-size: 18px;
    color: #aaa;
    background: #f9f9f9;
    font-family: "fontAwesome";
    pointer-events: none;
    border:1px solid #d7d7d7;
    border-bottom: transparent;
    padding: 10px;
}

.travel-check-icon{
    position: relative;
}
.travel-check-icon:after{
    position: absolute;
    content: "\f073";
    right: 0px;
    top: 0;
    font-size: 18px;
    color: #aaa;
    background: #f9f9f9;
    font-family: "fontAwesome";
    pointer-events: none;
    border:1px solid #d7d7d7;
    border-bottom: transparent;
    padding: 10px 8px;
}/*travel-select-icon*/

.travel-select-icon  select,.travel-check-icon  input {
    color:#aaa;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    height: 48px;
}/*select*/

.travel-select-icon .form-control,.travel-check-icon .form-control{
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0!important;
    box-shadow:none;
    border:1px solid #d7d7d7;
    border-radius: 0px;
    margin-bottom: 20px;
}/*.travel-select-icon .form-control*/

/*.trip-circle*/
.trip-circle {
    display: flex;
    margin-bottom: 17px;
}
.single-trip-circle{
    display: flex;
}
.single-trip-circle:nth-child(2){
    display: flex;
    margin-left: 42px;
}





/*.trip-circle*/


/* filter */
.travel-budget {
    margin-top: 38px;
}
.travel-budget h3{
    color: #565a5c;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.price_filter{
    margin-top: 9px;
}
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background:  #d7d7d7;
    border: medium none;
    border-radius: 0;
    height: 6px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #00d8ff none repeat scroll 0 0;
    border: 0px solid #00d8ff;
    border-radius:50%;
    height: 12px;
    width: 12px;
    outline: 0;
    cursor: pointer;
    z-index: 1;
}
.price_filter .ui-slider-range {background: #00d8ff none repeat scroll 0 0;}
.price_slider_amount > input[type="text"] {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    letter-spacing: 5.5px;
    height: 40px;
    text-align: center;
    width: 280px;
    border: none !important;;
    font-family: 'Poppins', sans-serif;
}
.price_slider_amount label {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
}
.price_slider_amount > input[type="text"]:focus {outline: 0}
.price_slider_amount > input[type="submit"] {outline: 0;}
.price_slider_amount {letter-spacing: 2px;}
.price_slider_amount > input[type="submit"] {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
}

/* .travel-btn */
.about-view.travel-btn{
    width: 180px;
    margin-right: 15px;
}

